/* Global */
:root {
  /* App Colors */
  /* color를 바꾸고 싶을 때, 변수명을 다 바꿔야하는 불상사를 막기 위해 한단계 더 추상적인 컬러 세팅 */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent:var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;  
  margin: 0;
}

/* tag 초기화 */
/* module이용할 수도 있지만 순수 css로 하는 방법도 알아야함 */

/* 모든 태그의 마진 없애기 */
h1,h2,h3,p,ul {
  margin: 0;
}

/* ul태그에서 목록에 쩜 나오는거 없애고 앞에 빈공간 없애기 */
ul {
  list-style: none;
  padding: 0;
}

/* a태그 밑줄, 그리고 색상변경 */
a {
  text-decoration: none;
  color: var(--color-primary);
}

/* 버튼 배경색, 아웃라인제거 */
button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* 버튼을 눌렀을 때, 아웃라인 생기도록 설정 */
button:focus {
  outline: 1px solid var(--color-accent);
}

/* common */
/* 전체 섹션에 걸쳐 동일한 포멧인 경우, 한번에 정의 */
.section {
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description{
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/* header */
.header {
  /* fixed: out fo flow */
  position: fixed;
  top: 0;
  /* 헤더 넓이를 페이지 넓이와 동일하게 맞춘다 */
  width: 100%;
  padding: 1rem;
  /* flex로 만들어서 아이템들이 나란히 위치하게 만든다. */
  display: flex;
  /* 각 아이템들 사이에 공간을 두고 간격을 넓힌다. */
  justify-content: space-between;
  /* 세로로 정렬을 맞춘다. */
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* change img size */
/* class 안 만들고header__logo img 로 작성할 수 있지만 성능에 안 좋음. 모든 img태그 검색 후 header__logo 안에 있는 img를 보여주기 때문 */
.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  /* rem = relative unit, browser default size * rem */
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__menu__item {
  padding: 8px 16px;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

