/* Global */
:root {
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;  
}

/* tag 초기화 */
h1,h2,h3,p,ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-black)
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-blue)
}