/* Global */
:root {
  /* App Colors */
  /* color를 바꾸고 싶을 때, 변수명을 다 바꿔야하는 불상사를 막기 위해 한단계 더 추상적인 컬러 세팅 */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent:var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;  
  margin: 0;
}

/* tag 초기화 */
/* module이용할 수도 있지만 순수 css로 하는 방법도 알아야함 */

/* 모든 태그의 마진 없애기 */
h1,h2,h3,p,ul {
  margin: 0;
}

/* ul태그에서 목록에 쩜 나오는거 없애고 앞에 빈공간 없애기 */
ul {
  list-style: none;
  padding: 0;
}

/* a태그 밑줄, 그리고 색상변경 */
a {
  text-decoration: none;
  color: var(--color-text);
}

p {
  display: block;
}

/* 버튼 배경색, 아웃라인제거 */
button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* 버튼을 눌렀을 때, 아웃라인 생기도록 설정 */
button:focus {
  outline: 1px solid var(--color-accent);
}

/* common */
/* 전체 섹션에 걸쳐 동일한 포멧인 경우, 한번에 정의 */
.section {
  padding: 4rem;
  text-align: center;
}

/* 컨테이너 최대 사이즈를 지정 */
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description{
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/* header */
.header {
  /* fixed: out fo flow */
  position: fixed;
  top: 0;
  /* 헤더 넓이를 페이지 넓이와 동일하게 맞춘다 */
  width: 100%;
  padding: 1rem;
  /* flex로 만들어서 아이템들이 나란히 위치하게 만든다. */
  display: flex;
  /* 각 아이템들 사이에 공간을 두고 간격을 넓힌다. */
  justify-content: space-between;
  /* 세로로 정렬을 맞춘다. */
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* change img size */
/* class 안 만들고header__logo img 로 작성할 수 있지만 성능에 안 좋음. 모든 img태그 검색 후 header__logo 안에 있는 img를 보여주기 때문 */
.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  /* rem = relative unit, browser default size * rem */
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__menu__item {
  padding: 8px 16px;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}


/* home */
/* 배경색 바꾸고 패딩주기 */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--color-accent);
}

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__title--strong {
  color: var(--color-accent);
}

.home__description {
  font-size: 1.3rem;
}

.home__contact {
  /* contact가 inline이어서 위아래로 margin이 안 들어감, 그래서 inline block으로 바꿔줄거임 */
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-black);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.home__contact:hover{
  background-color: transparent;
  color: var(--color-text);

  /* 전체적으로 'box-sizing: border-box;'을 설정했기 때문에 
  border-box를 설정하면 padding, border를 포함해서 박스사이징이 되서 hover되면 box가 border만큼 커져서 컨텐츠가 전체적으로 밀린다. 그러므로 box바깥에 테두리를 그리는 outline을 설정하면 된다. */
  outline: 2px solid var(--color-accent);

}

/* About */
.majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
}

.major {
  background-color: var(--color-primary-variant);
  padding: 2rem 1rem;
  border-radius: 1rem;
  color: var(--color-text);
  cursor: default;
  box-shadow: 0px 10px 1px rgba(221, 221, 221, 1), 0 10px 20px rgba(204, 204, 204, 1);
}

.major__icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent);
  transition: all 300ms ease;
}

.major__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.major:hover .major__icon {
  transform: rotate(-15deg) scale(1.2);
}

/* 왼쪽정렬 */
.jobs {
  text-align: start;
}

.job {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.job__name {
  color: var(--color-primary);
}

.job__period {
  color: var(--color-primary);
  font-size: 0.8rem;
}


/* Skills */
#skills {
  background-color: var(--color-primary-variant);
  color: var(--color-text);
  box-shadow: 0 3px 10px rgb(0,0,0,0.2);
}

.skills {
  /* 2 * 2 grid형태로 만들기 */
  display: grid;
  /* 각 열의 넓이를 6:4의 비율로 설정 */
  grid-template-columns: 6fr 4fr;
  margin: 2rem 3rem;
  border-radius: 8px;
  /* 각 id에서 grid background color를 지정해놔서 radius를 줘도 밖으로 빠져나옴. 그래서 밖으로 나온 자식요소를 숨겨줘!라고 말해주면 됨 */
  overflow: hidden;
}

.skills__title {
  color: var(--color-accent);
  margin: 1rem 0;
  font-size: 1.2rem;
}

.skills__coding {
  /* skills 섹션은 2행을 차지하도록 설정 */
  grid-row: span 2;
  padding: 1rem;
  background-color: var(--color-primary);
}

.skills__tools {
  padding: 1rem;
}

.skills__etc {
  padding: 1rem;
  background-color: var(--color-primary);
  /* color조합을 여러개 안 만들어도 밝기 조정으로 다양하게 명도를 조정할 수 있다. */
  filter: brightness(150%)
}

/* progress bar */

.bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.bar__metadata {
  display: flex;
  justify-content: space-between;
}

.bar__bg {
  width: 100%;
  height: 3px;
  background-color: var(--color-primary-variant);
}

.bar__value {
  height: 3px;
  background-color: var(--color-accent);
}